<aside class="main-sidebar elevation-1 sidebar-light-primary">
    <!-- Brand Logo -->

    <a [routerLink]="['/dashboard']" class="brand-link">

        <span class="brand-text font-weight-light"> empreenda.se</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a [routerLink]="['/dashboard']" class="nav-link" routerLinkActive="active">
                        <i class="nav-icon fa fa-dashboard"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link">
                        <i class="nav-icon fa fa-file-video-o"></i>
                        <p>Meus Cursos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link">
                        <i class="nav-icon fa fa-gamepad"></i>
                        <p>Circuitos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link">
                        <i class="nav-icon fa fa-file-text"></i>
                        <p>Conteúdos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/']" class="nav-link">
                        <i class="nav-icon fa fa-user"></i>
                        <p>Perfil</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>