<div style="margin-top:30%">
    <h1>
        <a [routerLink]="['/home/intro/stepper1']" style="color:black"><fa-icon [icon]="faLongArrowAltLeft"></fa-icon></a>
        
        Deseja salvar os resultados?
    </h1>
    <h3>Além de acompanhar sua evolução, cadastrar um perfil permite acesso a cursos SENAI direcionados as suas
        necessidades e mentorias com nossos especialistas.</h3>
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label"><h3>Nome</h3></label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label"><h3>Sobrenome</h3></label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-form-label"><h3>E-mail</h3></label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary">Ir para resultados</button>
            </div>
        </div>
    </form>
</div>


<!--   <div class="form-group">
    <label for="recipient-name" class="col-form-label">Recipient:</label>
    <select class="custom-select">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div> -->