<div style="margin-top:30%" id="question">
  <h3>{{ formModel.count }}/10</h3>
  <h1 class="mb-5">
    <a [routerLink]="['/home/intro/stepper8']" style="color:black; position: absolute; margin-left: -2em; margin-top: 0.07em; color: #444;">
        <fa-icon [icon]="faArrowCircleLeft"></fa-icon>
    </a>
    Tem alguma ideia de em qual mercado empreenderia?
  </h1>
  <h4 class="my-3">Alimentação, Serviços, Finanças, Contabilidade, entre outros.</h4>
  <form>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group mb-4">
            <input type="text" class="form-control question-input" name="mercadoEmpreenderia" [(ngModel)]="formModel.mercadoEmpreenderia">
        </div>
        <button class="btn btn-primary" [routerLink]="['/home/intro/stepper10', {formModel:formModel | json}]">Próxima</button> pressione Enter <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
      </div>
    </div>
  </form>
</div>